<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity
            android:name=".main.ui.fill_out_information.FillOutInformationActivity"
            android:exported="true"
            android:label="@string/title_activity_fill_out_information" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".main.ui.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
    </application>

</manifest>